*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.menuVertical{
    margin: 20px;
    display: flex;
    position: absolute;
    flex-direction: column;
    box-sizing: border-box;
    width: 25%;
    height: auto;
}
.box{
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    background-color: #C7C7C7;
    margin: 2px;
    padding: 5px;
}
.box p{
    padding: 18px;
    display:flex;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    width: 80%;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 18px;
   
    
}
.link{
    display: flex;
    position: relative;
    box-sizing: border-box;
    height: 1.8em;
    margin-right: 5px;
    align-self: center;
    align-items:  center;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
}
.link a{
    display: flex;
    position: relative;
    align-self: center;
    align-items:  center;
    box-sizing: border-box;
    margin: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
