*{
    box-sizing: border-box;
    background-size: cover;
    background-image: url(../storage/img/background.jpg);
}
.imageGalery{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}
.imageGalery img{
    border-radius: 1em;
    margin: 15px;
    filter: drop-shadow(0 0 0.5rem grey);
    box-sizing: border-box;
}
.imageGalery img:hover{
    z-index: 2;
    display: flex;
    transition: 0.3s ease;
    scale: 1.1;
}